<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /html/vue-learn-andreeva
  RewriteRule ^html/vue-learn-andreeva/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /html/vue-learn-andreeva/index.html [L]
</IfModule>